# Cache files and other garbage
__pycache__
.pytest_cache
pylintrc

# Deals with inputs/outputs specifically
test_inputs/
test_outputs/
sounds/
test_images/
test_results/
test_levels/
test_recipes/
test_files/
testing_data/

# Bacon lab intrinsic ignores (mostly web dev stuff)
ui/
resources/

# Snekoban lab ignores
puzzles/

# Mines lab intrinsic ignores
ui2d/
uind/

# Lisp2 lab intrinsics
turtle_samples/
cturtle.py
